name: OWASP ZAP Test

on:
  # permite executar manualmente
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run Application
        run: echo 'Starting application'

      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.10.0
        with:
          target: 'https://app.sittax.com.br'
          fail_action: true

      - name: Move files
        run: |
          mkdir ./public
          mv ./report_html.html ./public/index.html
        if: always()

      - name: Publish Report
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

            
